In [1]:
import pyspark
import findspark
findspark.init('D:\spark-2.3.1-bin-hadoop2.7')

from pyspark import SparkConf,SparkContext
from pyspark.sql import SQLContext, Row
from pyspark import SparkFiles
from pyspark.sql.functions import lit

import os
import requests
from pyspark.sql.types import *


conf = SparkConf().setMaster("local")
sc = SparkContext(conf = conf)
sqlContext = SQLContext(sc)

filenames=['aberporthdata.txt', 'armaghdata.txt', 'ballypatrickdata.txt', 'bradforddata.txt', 'braemardata.txt', 'cambornedata.txt', 'cambridgedata.txt', 'cardiffdata.txt', 'chivenordata.txt','cwmystwythdata.txt', 'dunstaffnagedata.txt', 'durhamdata.txt', 'eastbournedata.txt', 'eskdalemuirdata.txt', 'heathrowdata.txt', 'hurndata.txt', 'lerwickdata.txt','leucharsdata.txt', 'lowestoftdata.txt', 'manstondata.txt', 'nairndata.txt', 'newtonriggdata.txt', 'oxforddata.txt', 'paisleydata.txt', 'ringwaydata.txt', 'rossonwyedata.txt', 'shawburydata.txt','sheffielddata.txt', 'southamptondata.txt', 'stornowaydata.txt', 'suttonboningtondata.txt', 'tireedata.txt', 'valleydata.txt', 'waddingtondata.txt', 'whitbydata.txt','wickairportdata.txt', 'yeoviltondata.txt']

j=0
while(j<len(filenames)):
    input=filenames[j]
    url = 'https://www.metoffice.gov.uk/pub/data/weather/uk/climate/stationdata/'+input
    r = requests.get(url)
    print(input[:-8]+" "+"URL DONE")
    input1=filenames[j]
    open(input1, 'wb').write(r.content)
    print(input[:-8]+" "+"File Write Done")
    j +=1


filenames1=['aberporthdata.txt', 'armaghdata.txt', 'ballypatrickdata.txt', 'bradforddata.txt', 'braemardata.txt', 'cambornedata.txt', 'cambridgedata.txt', 'cardiffdata.txt', 'chivenordata.txt','cwmystwythdata.txt', 'dunstaffnagedata.txt', 'durhamdata.txt', 'eastbournedata.txt', 'eskdalemuirdata.txt', 'heathrowdata.txt', 'hurndata.txt', 'lerwickdata.txt','leucharsdata.txt', 'lowestoftdata.txt', 'manstondata.txt', 'nairndata.txt', 'newtonriggdata.txt', 'oxforddata.txt', 'paisleydata.txt', 'ringwaydata.txt', 'rossonwyedata.txt', 'shawburydata.txt','sheffielddata.txt', 'southamptondata.txt', 'stornowaydata.txt', 'suttonboningtondata.txt', 'tireedata.txt', 'valleydata.txt', 'waddingtondata.txt', 'whitbydata.txt','wickairportdata.txt', 'yeoviltondata.txt']
i=0
while(i<len(filenames1)):
    inp=filenames1[i]
    with open(inp,'r') as f:
        if(inp == 'cwmystwythdata.txt'):
            file_lines = [' '.join([x.strip('\n')[2:].replace('#','').replace('*','').replace('  Provisional','').replace('      ',',').replace('    ',',').replace('  ',',').replace('   ',',').replace(' ','').replace('---',''),str(',')+inp[:-8],'\n']) for x in f.readlines()[5:-1]]
        elif(inp=='cambridgedata.txt'):
            file_lines = [' '.join([x.strip('\n')[3:].replace('#','').replace('*','').replace('  Provisional','').replace('      ',',').replace('    ',',').replace('  ',',').replace('   ',',').replace(' ','').replace('---','').replace(',,',',').replace(',,,',',,,,,').replace(', ',',, '),str(',')+inp[:-8],'\n']) for x in f.readlines()[5:]]        
        elif (inp == 'dunstaffnagedata.txt'):
            file_lines = [' '.join([x.strip('\n')[3:].replace('#','').replace('*','').replace('  Provisional','').replace('      ',',').replace('    ',',').replace('  ',',').replace('   ',',').replace(' ','').strip(', ').replace('---','').replace(',,,,',',,,').replace(',,,,',',,,,,').replace(',,,',',,,,'),str(',')+inp[:-8],'\n']) for x in f.readlines()[5:-1]]
        elif (inp == 'braemardata.txt'):
            file_lines = [' '.join([x.strip('\n')[3:].replace('#','').replace('*','').replace('  Provisional','').replace('      ',',').replace('    ',',').replace('  ',',').replace('   ',',').replace(' ','').strip(', ').replace('---',''),str(',')+inp[:-8],'\n']) for x in f.readlines()[6:]]
        elif (inp == 'nairndata.txt' ):
            file_lines = [' '.join([x.strip('\n')[3:].replace('#','').replace('*','').replace('  Provisional','').replace('      ',',').replace('    ',',').replace('  ',',').replace('   ',',').replace(' ','').replace('||','').replace('---',''),str(',')+inp[:-8],'\n']) for x in f.readlines()[6:]]
        elif (inp == 'lowestoftdata.txt' ):
            file_lines = [' '.join([x.strip('\n')[3:].replace('#','').replace('*','').replace('---','NA').replace('  Provisional','').replace('      ',',').replace('    ',',').replace('  ',',').replace('   ',',').replace(' ','').replace(',,',',').replace('ChangetoMoncktonAve','').replace('','NA'),str(',')+inp[:-8],'\n']) for x in f.readlines()[6:]]
        elif (inp == 'southamptondata.txt' ): 
            file_lines = [' '.join([x.strip('\n')[3:].replace('#','').replace('*','').replace('  Provisional','').replace('      ',',').replace('    ',',').replace('  ',',').replace('   ',',').replace(' ','').replace('---',''),str(',')+inp[:-8],'\n']) for x in f.readlines()[6:-1]]
        elif (inp == 'whitbydata.txt'):
            file_lines = [' '.join([x.strip('\n')[3:].replace('#','').replace('*','').replace('---','NA').replace('  Provisional','').replace('      ',',').replace('    ',',').replace('  ',',').replace('   ',',').replace(' ','').replace('alldatafromWhitby','').replace('$',''),str('       ')+str(',')+inp[:-8],'\n']) for x in f.readlines()[6:]]
        else:
            file_lines = [' '.join([x.strip('\n')[3:].replace('#','').replace('*','').replace('  Provisional','').replace('      ',',').replace('    ',',').replace('  ',',').replace('   ',',').replace(' ','').replace('---',''),str(',')+inp[:-8],'\n']) for x in f.readlines()[5:]]
    out=filenames1[i]+str(i)
    with open(out,'w') as f:
        f.writelines(file_lines[:1]+file_lines[2:])
    i +=1
 
filenames2=['aberporthdata.txt0', 'armaghdata.txt1', 'ballypatrickdata.txt2', 'bradforddata.txt3', 'braemardata.txt4', 'cambornedata.txt5', 'cambridgedata.txt6', 'cardiffdata.txt7', 'chivenordata.txt8','cwmystwythdata.txt9', 'dunstaffnagedata.txt10', 'durhamdata.txt11', 'eastbournedata.txt12', 'eskdalemuirdata.txt13', 'heathrowdata.txt14', 'hurndata.txt15', 'lerwickdata.txt16','leucharsdata.txt17', 'lowestoftdata.txt18', 'manstondata.txt19', 'nairndata.txt20', 'newtonriggdata.txt21', 'oxforddata.txt22', 'paisleydata.txt23', 'ringwaydata.txt24', 'rossonwyedata.txt25', 'shawburydata.txt26','sheffielddata.txt27', 'southamptondata.txt28', 'stornowaydata.txt29', 'suttonboningtondata.txt30', 'tireedata.txt31', 'valleydata.txt32', 'waddingtondata.txt33', 'whitbydata.txt34','wickairportdata.txt35', 'yeoviltondata.txt36']

with open('merge.txt','w') as outfile:
    for fname in filenames2:
        with open(fname) as infile:
            for line in infile.readlines()[1:]:
                outfile.writelines(line)


cschema = StructType([StructField('year', IntegerType(), False),
                     StructField('month',IntegerType(), False),
                     StructField('tmax', FloatType(), True),
                     StructField('tmin', FloatType(), True),
                     StructField('airfrost', FloatType(), True),
                     StructField('rain', FloatType(), True),
                     StructField('sunshine', FloatType(), True),
                     StructField('stationname', StringType(), False)
                    ])



sc.addFile("merge.txt")
df = sqlContext.read.csv(SparkFiles.get("merge.txt"),header=False,schema=cschema)

df.registerTempTable("uk_weather")

aberporth URL DONE
aberporth File Write Done
armagh URL DONE
armagh File Write Done
ballypatrick URL DONE
ballypatrick File Write Done
bradford URL DONE
bradford File Write Done
braemar URL DONE
braemar File Write Done
camborne URL DONE
camborne File Write Done
cambridge URL DONE
cambridge File Write Done
cardiff URL DONE
cardiff File Write Done
chivenor URL DONE
chivenor File Write Done
cwmystwyth URL DONE
cwmystwyth File Write Done
dunstaffnage URL DONE
dunstaffnage File Write Done
durham URL DONE
durham File Write Done
eastbourne URL DONE
eastbourne File Write Done
eskdalemuir URL DONE
eskdalemuir File Write Done
heathrow URL DONE
heathrow File Write Done
hurn URL DONE
hurn File Write Done
lerwick URL DONE
lerwick File Write Done
leuchars URL DONE
leuchars File Write Done
lowestoft URL DONE
lowestoft File Write Done
manston URL DONE
manston File Write Done
nairn URL DONE
nairn File Write Done
newtonrigg URL DONE
newtonrigg File Write Done
oxford URL DONE
oxford File Write Done
paisley URL DONE
paisley File Write Done
ringway URL DONE
ringway File Write Done
rossonwye URL DONE
rossonwye File Write Done
shawbury URL DONE
shawbury File Write Done
sheffield URL DONE
sheffield File Write Done
southampton URL DONE
southampton File Write Done
stornoway URL DONE
stornoway File Write Done
suttonbonington URL DONE
suttonbonington File Write Done
tiree URL DONE
tiree File Write Done
valley URL DONE
valley File Write Done
waddington URL DONE
waddington File Write Done
whitby URL DONE
whitby File Write Done
wickairport URL DONE
wickairport File Write Done
yeovilton URL DONE
yeovilton File Write Done

# Query for Ranking Stations by long they have been online

In [2]:
uk_climate1 = sqlContext.sql("SELECT stationname,count(1) as count ,(CASE WHEN count(1) IS NOT NULL THEN DENSE_RANK() over (ORDER BY count(1) DESC NULLS LAST) ELSE NULL END) as station_rank_online  from uk_weather group by stationname")
uk_climate1.show(100)

+----------------+-----+-------------------+
|     stationname|count|station_rank_online|
+----------------+-----+-------------------+
|         armagh | 1985|                  1|
|         oxford | 1985|                  1|
|    southampton | 1743|                  2|
|      stornoway | 1739|                  3|
|      sheffield | 1625|                  4|
|         durham | 1605|                  5|
|       bradford | 1325|                  6|
|    eskdalemuir | 1289|                  7|
|      lowestoft | 1240|                  8|
|    wickairport | 1196|                  9|
|          tiree | 1085|                 10|
|      rossonwye | 1050|                 11|
|         valley | 1050|                 11|
|        lerwick | 1050|                 11|
|          nairn | 1040|                 12|
|      aberporth |  929|                 13|
|        manston |  923|                 14|
|       shawbury |  869|                 15|
|     waddington |  857|                 16|
|       heathrow |  845|                 17|
|       leuchars |  737|                 18|
|           hurn |  737|                 18|
|        braemar |  713|                 19|
|        paisley |  713|                 19|
|     eastbourne |  713|                 19|
|        ringway |  706|                 20|
|       chivenor |  693|                 21|
|      cambridge |  689|                 22|
|suttonbonington |  657|                 23|
|     newtonrigg |  657|                 23|
|      yeovilton |  645|                 24|
|   ballypatrick |  622|                 25|
|     cwmystwyth |  618|                 26|
|   dunstaffnage |  556|                 27|
|         whitby |  508|                 28|
|       camborne |  477|                 29|
|        cardiff |  433|                 30|
|                |  412|                 31|
|            null|  198|                 32|
|          138.3 |    1|                 33|
|   165.7        |    1|                 33|
|           57.0 |    1|                 33|
+----------------+-----+-------------------+

# Query for Ranking Stations by Rainfall, Sunshine

In [3]:
uk_climate2 = sqlContext.sql("SELECT stationname,SUM(rain) as total_rains_in_mm ,(CASE WHEN SUM(rain) IS NOT NULL THEN DENSE_RANK() over (ORDER BY SUM(rain) DESC NULLS LAST ) ELSE NULL END) AS station_rank_by_rainfall ,SUM(sunshine) as total_sunshine_in_hrs,(CASE WHEN SUM(sunshine) IS NOT NULL THEN DENSE_RANK() over (ORDER BY SUM(sunshine) DESC NULLS LAST) ELSE NULL END) as station_rank_by_sunshine from uk_weather group by stationname")
uk_climate2.show(100)

+----------------+------------------+------------------------+---------------------+------------------------+
|     stationname| total_rains_in_mm|station_rank_by_rainfall|total_sunshine_in_hrs|station_rank_by_sunshine|
+----------------+------------------+------------------------+---------------------+------------------------+
|    eskdalemuir |144947.40011769533|                       1|   104754.50001811981|                      16|
|      stornoway |103782.60010373592|                       2|   108660.40001296997|                      14|
|          tiree |103355.70007038116|                       3|   127881.90008115768|                       7|
|        lerwick |101507.60004419088|                       4|    93900.59996128082|                      19|
|       bradford | 93509.70000052452|                       5|   137342.10001969337|                       4|
|     cwmystwyth | 83603.90005779266|                       6|   56562.399926662445|                      28|
|    southampton | 76776.79997879267|                       7|   159733.99997520447|                       1|
|         valley | 74488.19992375374|                       8|   139629.50007915497|                       3|
|      sheffield | 72684.99997341633|                       9|   119051.19999790192|                       8|
|         armagh | 72153.70000815392|                      10|    109892.8000793457|                      12|
|        paisley | 70834.19990301132|                      11|    75379.19993972778|                      23|
|         durham | 70540.19998073578|                      12|    146785.7000632286|                       2|
|      aberporth | 69514.60001140833|                      13|    118315.2998828888|                       9|
|      rossonwye | 62806.20002603531|                      14|    130263.6000919342|                       6|
|         oxford |58690.600001096725|                      15|   137196.19988250732|                       5|
|          nairn | 53963.89996623993|                      16|   110218.79991912842|                      11|
|       shawbury | 48110.29995083809|                      17|    99761.69992828369|                      17|
|     eastbourne |47448.800052940845|                      18|   110305.59985160828|                      10|
|     waddington |   43242.600014925|                      19|   109302.19999313354|                      13|
|       leuchars | 41913.09995484352|                      20|    91392.20003223419|                      20|
|       camborne |41837.100031375885|                      21|    63491.40003013611|                      26|
|           hurn | 41165.19998681545|                      22|    83437.39989852905|                      21|
|        braemar | 39532.00000953674|                      23|    54342.60008430481|                      30|
|    wickairport | 38262.59992444515|                      24|    61039.59986972809|                      27|
|       heathrow | 37287.89999383688|                      25|    95005.30000114441|                      18|
|        manston |35911.199969917536|                      26|   106337.10000991821|                      15|
|        ringway | 35711.70006608963|                      27|    81066.40006256104|                      22|
|                |31824.999990463257|                      28|    956.0000076293945|                      37|
|   dunstaffnage |31479.099828720093|                      29|   22522.500025749207|                      36|
|      cambridge |27510.800045490265|                      30|     74043.6001739502|                      24|
|         whitby |25954.899963855743|                      31|    65039.09991168976|                      25|
|      yeovilton |24529.899985671043|                      32|    52656.20007324219|                      31|
|suttonbonington | 23438.99999141693|                      33|    56308.19997215271|                      29|
|        cardiff | 20607.09996652603|                      34|    27552.99995994568|                      35|
|     newtonrigg |18690.700034856796|                      35|   29956.499977111816|                      34|
|       chivenor | 15325.59999036789|                      36|    33124.00000190735|                      32|
|   ballypatrick |  2510.39998626709|                      37|   32714.099941253662|                      33|
|   165.7        |               0.0|                      38|   37.599998474121094|                      38|
|          138.3 |               0.0|                      38|                 null|                    null|
|            null|              null|                    null|                 null|                    null|
|           57.0 |              null|                    null|                 null|                    null|
+----------------+------------------+------------------------+---------------------+------------------------+

# Other patterns

In [4]:
uk_climate = sqlContext.sql("SELECT stationname,MAX(tmax),(CASE WHEN MAX(tmax) IS NOT NULL THEN DENSE_RANK() over (ORDER BY MAX(tmax)DESC NULLS LAST) ELSE NULL END) AS RANK_tmax ,MIN(tmin),(CASE WHEN MIN(tmin) IS NOT NULL THEN DENSE_RANK() over (ORDER BY MIN(tmin) NULLS LAST) ELSE NULL END) AS RANK_tmin ,MAX(rain),(CASE WHEN MAX(rain) IS NOT NULL THEN DENSE_RANK() over (ORDER BY MAX(rain)DESC NULLS LAST) ELSE NULL END) AS RANK_rain ,MAX(sunshine),(CASE WHEN MAX(sunshine) IS NOT NULL THEN DENSE_RANK() over (ORDER BY MAX(sunshine)DESC NULLS LAST) ELSE NULL END) AS RANK_sunshine from uk_weather group by stationname")
uk_climate.show(100)

+----------------+---------+---------+---------+---------+---------+---------+-------------+-------------+
|     stationname|max(tmax)|RANK_tmax|min(tmin)|RANK_tmin|max(rain)|RANK_rain|max(sunshine)|RANK_sunshine|
+----------------+---------+---------+---------+---------+---------+---------+-------------+-------------+
|        braemar |     22.1|       24|     -8.6|        1|    284.9|        8|        265.2|           30|
|       shawbury |     25.6|        8|     -6.9|        2|    174.7|       36|        292.9|           20|
|    eskdalemuir |     22.1|       24|     -6.8|        3|    568.8|        1|        275.9|           25|
|      rossonwye |     26.8|        5|     -6.7|        4|    186.0|       32|        309.6|           10|
|         oxford |     27.1|        3|     -5.8|        5|    175.5|       34|        303.7|           14|
|      cambridge |     28.3|        1|     -5.7|        6|    166.2|       37|        289.6|           23|
|suttonbonington |     25.3|       10|     -5.5|        7|    176.5|       33|        265.4|           28|
|     newtonrigg |     22.4|       23|     -5.4|        8|    241.3|       19|        265.3|           29|
|       bradford |     24.8|       11|     -4.9|        9|    261.4|       13|        300.1|           15|
|     cwmystwyth |     23.2|       19|     -4.9|        9|    425.4|        2|        260.2|           31|
|         durham |     23.1|       20|     -4.8|       10|    201.8|       25|        297.0|           18|
|    southampton |     26.8|        5|     -4.6|       11|    280.7|        9|        350.3|            1|
|       heathrow |     28.2|        2|     -4.6|       11|    174.8|       35|        310.1|            9|
|      yeovilton |     26.9|        4|     -4.5|       12|    192.4|       29|        292.2|           21|
|        paisley |     22.7|       21|     -4.4|       13|    298.9|        6|        259.9|           32|
|          nairn |     22.0|       25|     -4.3|       14|    222.4|       21|        249.1|           36|
|     waddington |     26.1|        6|     -4.3|       14|    217.5|       22|        304.5|           13|
|       leuchars |     21.9|       26|     -4.1|       15|    215.6|       24|        252.6|           35|
|        ringway |     24.6|       12|     -4.1|       15|    193.6|       27|        297.5|           17|
|           hurn |     26.9|        4|     -3.9|       16|    247.4|       17|        320.1|            8|
|         armagh |     23.8|       16|     -3.8|       17|    186.1|       31|        256.0|           33|
|      sheffield |     25.6|        8|     -3.5|       18|    285.6|        7|        290.8|           22|
|      aberporth |     22.4|       23|     -3.5|       18|    232.3|       20|        342.1|            3|
|         valley |     23.7|       17|     -3.0|       19|    254.2|       15|        341.4|            4|
|        cardiff |     26.0|        7|     -2.9|       20|    249.5|       16|        305.4|           12|
|    wickairport |     18.3|       31|     -2.9|       20|    192.9|       28|        252.9|           34|
|        manston |     25.4|        9|     -2.8|       21|    271.8|       11|        350.1|            2|
|     eastbourne |     23.9|       15|     -2.8|       21|    261.1|       14|        335.3|            6|
|        lerwick |     17.2|       32|     -2.6|       22|    302.4|        5|        271.5|           26|
|      stornoway |     19.4|       30|     -2.3|       23|    277.4|       10|        294.1|           19|
|         whitby |     23.4|       18|     -2.2|       24|    189.0|       30|        299.9|           16|
|          tiree |     19.5|       29|     -2.1|       25|    268.6|       12|        329.1|            7|
|   ballypatrick |     19.9|       28|     -1.8|       26|    216.8|       23|        279.3|           24|
|       chivenor |     24.3|       13|     -1.6|       27|    194.0|       26|        336.8|            5|
|                |     24.1|       14|     -1.1|       28|    329.4|        4|        158.8|           37|
|       camborne |     22.5|       22|     -0.8|       29|    242.2|       18|        308.4|           11|
|   dunstaffnage |     21.2|       27|     -0.8|       29|    383.3|        3|        270.9|           27|
|          138.3 |     null|     null|     null|     null|      0.0|       38|         null|         null|
|            null|     null|     null|     null|     null|     null|     null|         null|         null|
|           57.0 |     null|     null|     null|     null|     null|     null|         null|         null|
+----------------+---------+---------+---------+---------+---------+---------+-------------+-------------+

# Query for knowing when was the worse rainfall for each station

In [5]:
uk_climate8=sqlContext.sql("select X.stationname,X.year,X.month,X.rain as worse_rainfall_in_mm from uk_weather X INNER JOIN (select distinct a.stationname,MAX(a.rain) as max_rain from uk_weather a inner join uk_weather b where a.stationname=b.stationname and a.year=b.year and a.month=b.month group by a.stationname)Y where TRIM(X.stationname)=TRIM(Y.stationname) and TRIM(X.rain)=TRIM(Y.max_rain) ORDER BY worse_rainfall_in_mm DESC ")

uk_climate8.show(100)

+----------------+----+-----+--------------------+
|     stationname|year|month|worse_rainfall_in_mm|
+----------------+----+-----+--------------------+
|    eskdalemuir |2015|   12|               568.8|
|     cwmystwyth |2009|   11|               425.4|
|   dunstaffnage |2011|   12|               417.8|
|      stornoway |1898|   12|               377.5|
|                |2015|   12|               329.4|
|        braemar |2015|   12|               316.8|
|   ballypatrick |2008|    8|               313.0|
|        lerwick |2015|    1|               302.4|
|        paisley |2006|   12|               298.9|
|      sheffield |2007|    6|               285.6|
|    southampton |1903|   10|               280.7|
|       camborne |1978|   12|               276.7|
|        manston |1939|   10|               271.8|
|     newtonrigg |2009|   11|               269.4|
|          tiree |2015|   12|               268.6|
|        cardiff |2000|   10|               267.6|
|       bradford |2007|    6|               261.4|
|     eastbourne |2000|   10|               261.1|
|           hurn |1960|   10|               258.9|
|         valley |2015|   12|               254.2|
|    wickairport |2006|   10|               234.6|
|       chivenor |2009|    7|               233.0|
|      aberporth |1954|   11|               232.3|
|         armagh |1870|   10|               226.4|
|          nairn |1995|    9|               222.4|
|     waddington |1956|    8|               217.5|
|       leuchars |2004|    8|               215.6|
|         durham |1888|    7|               209.7|
|        ringway |2000|   10|               193.6|
|         oxford |1875|   10|               192.9|
|      yeovilton |2002|   11|               192.4|
|         whitby |2010|   11|               189.0|
|      rossonwye |1959|   12|               186.0|
|suttonbonington |1977|    2|               176.5|
|       heathrow |1987|   10|               174.8|
|       shawbury |1976|    9|               174.7|
|      cambridge |2005|    9|               166.2|
|          138.3 |1974|    7|                 0.0|
|   165.7        |1999|    4|                 0.0|
+----------------+----+-----+--------------------+

# Query for knowing when was the best sunshine for each station

In [6]:
uk_climate9=sqlContext.sql("select X.stationname,X.year,X.month,X.sunshine as best_sunshine_in_hrs from uk_weather X INNER JOIN (select distinct a.stationname,MAX(a.sunshine) as max_sunshine from uk_weather a inner join uk_weather b where a.stationname=b.stationname and a.year=b.year and a.month=b.month group by a.stationname)Y where TRIM(X.stationname)=TRIM(Y.stationname) and TRIM(X.sunshine)=TRIM(Y.max_sunshine) ORDER BY best_sunshine_in_hrs DESC ")

uk_climate9.show(100)

+----------------+----+-----+--------------------+
|     stationname|year|month|best_sunshine_in_hrs|
+----------------+----+-----+--------------------+
|    southampton |1911|    7|               350.3|
|        manston |2006|    7|               350.1|
|      aberporth |1955|    7|               342.1|
|         valley |1955|    7|               341.4|
|       chivenor |1957|    6|               336.8|
|     eastbourne |2006|    7|               335.3|
|          tiree |1975|    5|               329.1|
|           hurn |1975|    6|               320.1|
|       heathrow |1989|    5|               310.1|
|      rossonwye |2006|    7|               309.6|
|       camborne |1990|    7|               308.4|
|        cardiff |1995|    8|               305.4|
|     waddington |2006|    7|               304.5|
|         oxford |2006|    7|               303.7|
|       bradford |1957|    6|               300.1|
|         whitby |2006|    7|               299.9|
|        ringway |1957|    6|               297.5|
|         durham |1940|    6|               297.0|
|      stornoway |1994|    5|               294.1|
|       shawbury |1957|    6|               292.9|
|      yeovilton |2006|    7|               292.2|
|      yeovilton |1995|    8|               292.2|
|      sheffield |2006|    7|               290.8|
|      cambridge |1962|    6|               289.6|
|   ballypatrick |1975|    5|               279.3|
|    eskdalemuir |1957|    6|               275.9|
|        lerwick |1948|    5|               271.5|
|   dunstaffnage |1995|    6|               270.9|
|suttonbonington |1960|    6|               265.4|
|     newtonrigg |1960|    6|               265.3|
|        braemar |1992|    5|               265.2|
|     cwmystwyth |1976|    8|               260.2|
|        paisley |1995|    6|               259.9|
|         armagh |1940|    6|               256.0|
|    wickairport |1948|    5|               252.9|
|       leuchars |1989|    7|               252.6|
|          nairn |1940|    6|               249.1|
|                |1966|    6|               158.8|
|   165.7        |1999|    4|                37.6|
+----------------+----+-----+--------------------+

# Query for average for MAY across all stations

In [7]:
uk_climate11=sqlContext.sql("select distinct a.month,a.year,AVG(a.tmax) as avg_max_temperature,AVG(a.tmin) as avg_min_temperature,AVG(a.airfrost) as avg_air_frost,AVG(a.rain) as avg_rainfall,AVG(a.sunshine) as avg_sunshine from uk_weather a cross join uk_weather b where a.month=5 and b.month=5 group by a.month,a.year order by year desc")
uk_climate11.show(200)

+-----+----+-------------------+-------------------+--------------------+------------------+------------------+
|month|year|avg_max_temperature|avg_min_temperature|       avg_air_frost|      avg_rainfall|      avg_sunshine|
+-----+----+-------------------+-------------------+--------------------+------------------+------------------+
|    5|2018|  17.33999999364217|  7.833333365122477|                 0.3|  42.5466667175293|235.67391238005266|
|    5|2017| 16.973333231608073|   8.48666664759318|                 0.2|48.303333346048994| 204.4304358440897|
|    5|2016| 16.019999917348226|  7.673333342870077| 0.36666666666666664| 51.80000012715657|  201.513043610946|
|    5|2015| 14.020000044504801|  6.733333349227905|  0.7333333333333333| 88.87000020345052|173.32173820163894|
|    5|2014| 15.410000006357828|  8.249999984105427| 0.26666666666666666|  82.2466667175293|154.16521719227666|
|    5|2013| 14.217391345811928|  6.186956581862076|  0.6521739130434783| 70.08695602416992|179.43478327212125|
|    5|2012|  15.27391305177108|  7.191304372704548|  0.8260869565217391|  49.2347819286844|202.19130673615828|
|    5|2011| 15.852174136949623|  7.986956430518108| 0.30434782608695654| 66.48260829759681|191.51304261580756|
|    5|2010|  14.75199993133545|  6.307999992370606|                1.08|37.996000061035154|202.81999877929687|
|    5|2009| 15.780000114440918| 7.5479999542236325|                0.04|62.287999877929686|208.92000061035156|
|    5|2008| 17.083999977111816|  8.676000080108643|                0.12| 52.23599996566772| 203.1359997558594|
|    5|2007|  15.26400001525879|  7.700000057220459|                0.16| 97.28399993896484|176.45999877929688|
|    5|2006|              15.38|  7.644000053405762|                0.32|             92.34|180.54400024414062|
|    5|2005| 14.768000106811524|  6.811999988555908|                0.52| 52.81600021362305| 210.1760009765625|
|    5|2004|  16.00799995422363|  7.440000057220459|                0.28|43.132000045776365|203.91199951171876|
|    5|2003| 15.162963019476997|    7.6444444126553|  0.2962962962962963| 72.71111128065321| 181.0370364718967|
|    5|2002| 15.066666603088379|  7.792592560803449| 0.25925925925925924| 79.47037053991247|185.17777817337603|
|    5|2001|  16.51071436064584|  7.414285676819937| 0.42857142857142855|   36.403571333204|227.10357339041573|
|    5|2000| 15.674073961046007|  7.400000007064254|  0.2222222222222222| 66.56666635583949|214.39259281864872|
|    5|1999|              15.85|  8.369999933242799| 0.06666666666666667| 58.96896553039551|169.27000096638997|
|    5|1998|  16.25000015894572|   8.00666667620341| 0.26666666666666666|  33.9310345320866| 195.9933334350586|
|    5|1997| 15.310000133514404|  6.579999995231629|  1.1666666666666667| 69.07999979654947| 225.0433334350586|
|    5|1996| 12.636666679382325|  4.836666675408681|   2.433333333333333|54.323332977294925|188.29000142415364|
|    5|1995|  15.34193540388538|  6.612903202733686|  1.5161290322580645|47.203225474203784|202.93548436318673|
|    5|1994|  13.78064521666496|  6.338709669728433|  0.6451612903225806| 50.32258030676073|177.03870957897556|
|    5|1993| 14.474193634525422|  6.887096774193548|  0.4838709677419355| 77.22580583633915| 167.3774204869424|
|    5|1992| 17.129411809584674|  8.048484874494148|  0.3939393939393939| 46.31470615723554| 239.1470603942871|
|    5|1991| 14.245454585913455|  6.936363624803947| 0.48484848484848486|17.869696935017902|149.64848466352984|
|    5|1990| 16.702941249398624|  7.197058831944185| 0.21212121212121213|28.311764675028183|237.11470525404985|
|    5|1989| 16.770588229684268|  7.473529479082893| 0.21212121212121213| 23.83529384434223|254.87940889246323|
|    5|1988| 15.261764694662656|  6.991176436929142|  0.2727272727272727|  49.7787879597057| 198.8117635390338|
|    5|1987| 13.691176470588236|  5.767647056018605|  0.5454545454545454| 44.48787822145404|191.36176479563994|
|    5|1986| 13.970588207244873|  6.944117658278522| 0.14705882352941177| 91.09090885971531|181.25294292674346|
|    5|1985| 14.051515116836086|   6.46969698414658| 0.45454545454545453| 59.77187502384186|168.92121124267578|
|    5|1984| 13.888235204360065|  5.326470599454992|  1.5588235294117647|43.893939365040175|186.86470570283777|
|    5|1983|  12.80909099000873|   6.37575760754672|  0.3333333333333333| 85.33750021457672|127.65454494591916|
|    5|1982| 15.366666504831025|  6.127272739554897|   2.242424242424242|46.937499821186066|217.73030321525806|
|    5|1981| 14.442424311782375|  7.051515160184918|  0.8484848484848485| 74.40000033378601|150.52424390388256|
|    5|1980| 15.306250005960464| 5.9718750193715096|                0.75|27.051612930913127|229.15312433242798|
|    5|1979| 12.866666620427912|  5.160606080835516|   3.484848484848485|  96.1468756198883|181.23636511600378|
|    5|1978| 15.318749994039536|  6.568749971687794|              0.3125| 38.41612895842521| 199.3218755722046|
|    5|1977| 14.109677407049364|  5.558064491518082|  1.4193548387096775|46.486666679382324|225.72903147051412|
|    5|1976| 14.887096774193548| 7.1225805897866525| 0.25806451612903225|  64.6800002415975|160.81290411180066|
|    5|1975| 13.229999987284343|  5.146666669845581|                 0.7|37.982758423377724| 208.6000010172526|
|    5|1974|  14.47666670481364|  6.353333377838135|  0.6333333333333333| 43.06551716245454|187.65999857584634|
|    5|1973| 14.286206936014109|  6.720689674903607|  0.5517241379310345| 68.64642783573696|164.16896530677533|
|    5|1972| 13.589655119797278|  6.448275903175617|  0.3793103448275862| 66.22142859867641| 145.6137916301859|
|    5|1971| 15.299999993422936|  6.458620688010907|   0.896551724137931|  53.0892859186445|215.54482663910966|
|    5|1970| 15.932142734527588|  7.634482745466562|                 0.0| 31.98275881800158|166.84333343505858|
|    5|1969| 13.779310357981714|  6.634482786573213|  0.3448275862068966| 99.84137962604392|136.21999969482422|
|    5|1968| 12.632142850330897|  5.067857154778072|  1.7857142857142858| 70.09285708836147|151.96896625387257|
|    5|1967|  13.03703714300085| 5.8714286003793985|  1.5357142857142858|112.71428591864449|158.90689613079203|
|    5|1966| 14.607407357957628|  6.111111128771746|  0.3333333333333333| 66.50714302062988| 208.8241369313207|
|    5|1965| 14.182142870766777|  6.875000017029898|  0.8214285714285714| 56.67500019073486| 149.7724151611328|
|    5|1964|  16.14814818346942|   8.06296299121998|0.037037037037037035| 57.20714276177542|180.37142835344588|
|    5|1963|  13.64814825411196|  5.744444458572953| 0.37037037037037035|  56.0499997820173|186.24642862592424|
|    5|1962| 13.319230849926289|  5.837037015844275|  0.6296296296296297| 58.65714304787772|168.44285801478796|
|    5|1961|  14.41538454936101|  6.315384681408222|  0.4230769230769231|39.882143429347444|201.49285697937012|
|    5|1960|  16.36538454202505|  7.542307734489441|                 0.5| 45.87142883028303| 189.5703695791739|
|    5|1959|  16.47692317229051|  7.092307714315561|  0.5769230769230769|30.095238276890345|219.75555702492042|
|    5|1958| 14.047619047619047|  6.223809537433443|                0.35| 76.54500026702881|184.65238080705916|
|    5|1957| 14.123809496561686|  5.814285732450939|                 1.0| 44.45999946594238|204.48571414039247|
|    5|1956| 15.427777820163303|  6.844444380866157|               0.375| 32.59999990463257|215.56315934030633|
|    5|1955|  12.80000008477105|  5.205555558204651|              1.0625| 77.24999978807237| 207.6684216951069|
|    5|1954| 14.288888772328695|  6.877777788374159|              0.1875| 76.93333307902019| 149.1210527921978|
|    5|1953| 15.816666709052193|  7.683333343929714|                 0.0| 57.72777769300673|199.79473676179586|
|    5|1952| 16.147368330704538|   8.13157884698165|                 0.0| 58.40526279650236|186.68499908447265|
|    5|1951| 12.926315859744424|  5.621052679262664| 0.26666666666666666| 57.30526291696649|            185.45|
|    5|1950| 14.283333354526096|                6.5|                 0.2| 38.90555567211575|184.62631747597143|
|    5|1949| 14.533333248562283| 5.9333332777023315| 0.06666666666666667| 51.30555555555556|213.32631562885484|
|    5|1948| 14.994117624619427|  5.623529406154857|  1.3076923076923077| 52.47777843475342|246.36842185572573|
|    5|1947| 16.237500071525574|  7.576470599454992|                 0.0|58.144444412655304|177.27894672594573|
|    5|1946|  14.00666675567627|  5.813333288828532| 0.16666666666666666|            51.375|207.28823673023896|
|    5|1945| 14.686666679382324|  6.820000012715657|  0.8333333333333334| 76.00666707356771| 170.9800028483073|
|    5|1944| 14.486666615804037|  6.239999977747599|  0.4166666666666667| 46.43333339691162|178.90666758219402|
|    5|1943| 15.173333485921225|   6.50666667620341|  0.5833333333333334| 79.87999979654948|214.16000061035157|
|    5|1942| 14.366666666666667|  5.940000009536743|                0.75| 80.58000030517579|209.82000020345052|
|    5|1941| 12.475000143051147|  4.733333309491475|   2.090909090909091| 52.35833295186361|160.00833384195963|
|    5|1940| 15.938461523789625|  7.069230739886944|                 0.0| 34.79230745022114| 201.4923072228065|
|    5|1939|   14.5071428162711| 6.7428571837288995| 0.08333333333333333|30.228571483067103|185.39285932268416|
|    5|1938| 13.528571333203997|  5.942857180322919|                1.25| 77.02857044764927|162.22142846243722|
|    5|1937| 15.178571360451835|  7.321428605488369| 0.08333333333333333| 58.83571365901402|193.23571450369698|
|    5|1936| 14.521428516932897|  6.550000020435879| 0.08333333333333333| 28.43571397236415| 190.6999991280692|
|    5|1935| 13.392857279096331|  5.328571455819266|  0.9166666666666666| 29.97142825807844|220.58571297781808|
|    5|1934| 14.392307721651518|  6.269230769230769| 0.08333333333333333|58.369230417104866| 181.7000004695012|
|    5|1933| 14.653846300565279| 7.2461539415212775| 0.08333333333333333|49.069230153010444|145.10769359882062|
|    5|1932| 12.800000044015738|  6.269230750890879|  0.4166666666666667| 92.23076908405011|137.94615349402795|
|    5|1931| 13.884615457974947|  6.669230754558857| 0.16666666666666666| 80.60769271850586|161.25384521484375|
|    5|1930| 14.162500023841858|  5.837499976158142|  0.5714285714285714| 50.97499942779541|162.53333452012805|
|    5|1929| 15.342857088361468|  5.757142884390695|  0.6666666666666666| 53.57499957084656| 215.1888885498047|
|    5|1928| 14.433333079020182| 5.9666666984558105|  0.6666666666666666|39.233333587646484|            166.25|
|    5|1927| 14.766666412353516|  5.933333396911621|                 1.0|31.299999237060547|172.49999491373697|
|    5|1926| 13.833333333333334|  5.399999936421712|                 1.0| 50.86666615804037| 165.1000010172526|
|    5|1925|  15.00000031789144|  7.099999904632568|  0.6666666666666666| 89.36666870117188|157.26666768391928|
|    5|1924|  14.46666685740153| 7.0333333015441895|                 0.0| 126.1999994913737|150.76666768391928|
|    5|1923| 12.833333333333334|  4.899999936421712|  0.3333333333333333|  64.6999994913737|167.76666768391928|
|    5|1922| 17.299999872843426|  7.300000031789144|  0.3333333333333333|20.400000254313152|224.13333129882812|
|    5|1921| 16.333333333333332|                6.0|                 1.0|  38.3999989827474| 233.8000030517578|
|    5|1920|  15.59999974568685|  7.066666603088379|  0.3333333333333333| 73.16666666666667|194.63333638509116|
|    5|1919|  17.63333257039388|  7.333333492279053|  0.3333333333333333|27.133333524068195|213.03333028157553|
|    5|1918| 17.666666666666668|  7.666666666666667|  0.3333333333333333| 54.50000127156576|210.76666259765625|
|    5|1917|  16.89999993642171| 7.0333333015441895|  0.6666666666666666| 65.43333435058594|187.73333740234375|
|    5|1916| 15.733333269755045|  6.700000127156575|                 0.0|55.166666666666664|159.96666463216147|
|    5|1915| 14.866666475931803|  5.566666682561238|                 1.0| 69.76666768391927| 197.0999959309896|
|    5|1914| 14.933333396911621|  6.166666666666667|  1.6666666666666667|31.900000254313152| 160.6999969482422|
|    5|1913| 15.133333206176758|  7.066666762034099|  0.3333333333333333| 70.53333282470703| 161.1999994913737|
|    5|1912| 15.700000127156576|  7.166666507720947|  0.3333333333333333|  55.6000010172526| 144.5999959309896|
|    5|1911|               17.0| 7.9666666984558105|                 0.0| 30.00000063578288|             195.5|
|    5|1910| 14.966666539510092| 6.3666666348775225|  0.6666666666666666|38.349998474121094|189.20000203450522|
|    5|1909| 15.633333206176758|  5.300000031789144|                 2.0|              33.5| 255.1666717529297|
|    5|1908|  16.46666685740153|   7.99999984105428|                 0.0|51.400001525878906|192.29999796549478|
|    5|1907|  14.15000057220459|               6.75|                 0.0| 85.70000076293945|            136.75|
|    5|1906| 14.350000381469727|  6.700000047683716|                 1.5| 74.19999885559082| 133.3000030517578|
|    5|1905| 16.250000476837158|  6.049999952316284|                 1.0|             12.75| 220.8000030517578|
|    5|1904| 15.049999713897705| 6.8999998569488525|                 0.5|  83.6500015258789|146.10000610351562|
|    5|1903| 15.150000095367432|  6.749999761581421|                 0.5|  70.8499984741211|             181.0|
|    5|1902|               13.0|  4.800000071525574|                 1.5| 65.54999923706055|167.20000457763672|
|    5|1901|  16.90000009536743|                6.0|                 0.5|             42.25|245.90000915527344|
|    5|1900| 14.799999713897705|  6.200000047683716|                 0.5| 36.35000038146973|            157.75|
|    5|1899|               14.5|  5.549999952316284|                 0.5|55.150001525878906|             197.5|
|    5|1898| 14.349999904632568|  6.049999952316284|                 0.5| 77.60000228881836|151.85000610351562|
|    5|1897| 15.149999618530273|  5.149999976158142|                 1.5|36.849998474121094| 223.9499969482422|
|    5|1896| 18.199999809265137| 6.3999998569488525|                 0.5|11.050000190734863| 229.1999969482422|
|    5|1895| 18.100000381469727|  6.800000190734863|                 0.0|              14.5|234.64999389648438|
|    5|1894| 11.899999618530273| 3.4000000953674316|                 5.0| 72.30000305175781| 172.6999969482422|
|    5|1893| 16.799999237060547|  6.300000190734863|                 0.0|              59.0|160.39999389648438|
|    5|1892| 15.199999809265137|  5.400000095367432|                 2.0|              59.5| 156.8000030517578|
|    5|1891| 13.199999809265137| 3.5999999046325684|                 4.0|36.900001525878906|             161.5|
|    5|1890| 15.199999809265137|                6.0|                 0.0|59.099998474121094| 152.8000030517578|
+-----+----+-------------------+-------------------+--------------------+------------------+------------------+